body{
  font-size: 15pt;
}
#a{
  font-size: 10pt;
    background: #FFF7E6;
}
#b{
  text-decoration: none;
  border-radius: 5px;
  background-color: lightblue;
  padding: 10px;
  text-decoration: none;
  color: white;
}